.logo img {
    width: 170PX;
    height: 55px;
    max-height: none;
    margin-left: 10px;
    margin-right: 30px;
  }

  /* /* .custom-container {
    display:block;
    align-items: center;
  } */

