.Ipos{
    position: relative;
  }

  .EyePw{
    position: absolute;
  right: 5px;
    top: 50%;
    transform: translateY(-50%);
    color: black
  }

  .EyePw:hover{
    color: #012970;
    cursor: pointer;
  }

  .logo img {
    width: 220PX;
    height: 75px;
    max-height: none;
    margin-left: 10px;
  }
  
  